@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /*Me permite deslizar cuando hago clic en los links del menu*/
    scroll-behavior: smooth;
}
/*MENU*/
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #56B9FF;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #56B9FF;
}

.nav-responsive{
    background-color: #56B9FF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


.inicio .box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1e2326;
    border-radius: 8px;
    overflow: hidden;
}
.inicio .box::before{
    content: '';
    position: absolute;
    top: -10%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.inicio .box::after{
    content: '';
    position: absolute;
    top: -10%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.inicio .borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.inicio .borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, 
    transparent,transparent,#fafbfd,#fafbfd,#fafbfd);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.inicio .borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, 
    transparent,transparent,#fafbfd,#fafbfd,#fafbfd);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.inicio .box form {
    position: absolute;
    inset: 4px;
    background: #1e2326;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.inicio .box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inicio .box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}


.inicio .box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transform: 0.5s;
    z-index: 10;
}

.inicio .box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inicio .box form .inputBox input:valid ~ span,
.inicio .box form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.inicio .box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.inicio .box form .inputBox input:valid ~ i,
.inicio .box form .inputBox input:focus ~ i
{
    height: 44px;
}

.inicio .box form .links
{
    display: flex;
    justify-content: space-between;
}

.inicio .box form .links a
{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.inicio .box form .links a:hover,
.inicio .box form .links a:nth-child(2)
{
    color: #fff;
}

.inicio .box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.inicio .box form input[type="submit"]:active{
    opacity: 0.8;
}


/*SECCION INICIO*/
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8)),
    url(img/banner-bg2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.inicio .box{
    position: relative;
    padding: 40px;
    background-color: #1e2326;
    max-width: 350px;
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;   
}
.inicio .box img{
    margin-top: 40px;
    border: 10px solid #56B9FF;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .box h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
 .inicio .box h2{
    font-size: 15px;
    font-weight: normal;
 }
 .inicio .box .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
 }

 .inicio .box .redes a:hover{
    background-color: #56B9FF;
 }
 .inicio .contenido-banner::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 200px;
    background: linear-gradient(0deg, transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 0;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
 }
 @keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}


 .sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
 }

 .sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
 }
 .sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
 }
 .sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
 }
 .sobremi .contenido-seccion p span{
    color: #56B9FF;
    font-weight: bold;
 }
 .sobremi .fila{
    display: flex;
 }
 .sobremi .fila .col{
    width: 50%;
 }
  .sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
  }
  .sobremi .fila .col ul{
    list-style: none;
  }
  .sobremi .fila .col ul li{
    margin: 12px 0;
  }
  .sobremi .fila .col ul li strong{
    display: inline-block;
    color: #56B9FF;
    width: 130px;
  }
  .sobremi .fila .col ul li span{
    background-color: #56B9FF;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
  }
  .sobremi .fila .col .contenedor-interes{
    display: flex;
    flex-wrap: wrap;
  }
  .sobremi .fila .col .contenedor-interes .intereses{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .sobremi .fila .col .contenedor-interes .intereses:hover{
    background-color: #56B9FF;
  }
  .sobremi .fila .col .contenedor-interes .intereses i{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
  }
  .sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #56B9FF;
    z-index: -1;
    transition: 1s;
  }
  .sobremi button:hover .overlay{
    width: 100%;
  }
  /* SECCION SKILLS */
   .skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
 }

 .skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
 }
 .skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
 }
 .skills .fila{
    display: flex;
 }
 .skills .fila .col{
    width: 50%;
    padding: 0 20px;
 }
 .skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
 }
 .skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
 }
 .skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
 }
 .skills .skill .progreso{
    background-color: #56B9FF;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
 }
 .skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #56B9FF;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
 }
/*Estas clases se agregan dinamicamente mediante javascript*/
 .skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
 }
 @keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
 }
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}
.skills .skill .c{
    width: 0%;
    animation: 2s c forwards;
}
@keyframes c {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .ia{
    width: 0%;
    animation: 2s ia forwards;
}
@keyframes ia {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .Python{
    width: 0%;
    animation: 2s Python forwards;
}
@keyframes Python {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .Comunicacion{
    width: 0%;
    animation: 2s Comunicacion forwards;
}
@keyframes Comunicacion {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 95%;}
}
/*SECCION CURRICULUM*/
.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
 }

 .curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
 }
 .curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
 }
 .curriculum .fila{
    display: flex;
    justify-content: space-between;
 }
  .curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
 }
 .curriculum .fila .col h3{
   font-size: 28px;
   font-family: 'Righteous';
   margin-bottom: 25px;
 }
 .curriculum .fila .izquierda{
   border-right: 2px solid #252A2E;
 }
 .curriculum .fila .derecha{
   border-left: 2px solid #252A2E;
 }
 .curriculum .fila .item{
   padding: 25px;
   margin-bottom: 30px;
   background-color: #252A2E;
   position: relative;
 }
 .curriculum .fila .item h4{
   font-size: 20px;
   margin-bottom: 10px;
 }
 .curriculum .fila .item .casa{
   color: #56B9FF;
   font-size: 22px;
   font-weight: bold;
   display: block;
 }
 .curriculum .fila .item .fecha{
   display: block;
   color: #56B9FF;
   margin-bottom: 10px;
 }
 .curriculum .fila .item p{
   line-height: 24px;
 }
 .curriculum .fila .izq{
   border-right: 2px solid #56B9FF;
   margin-right: 20px;
 }
 .curriculum .fila .der{
   border-left: 2px solid #56B9FF;
   margin-left: 20px;
 }
 .curriculum .fila .item .conectori{
   height: 2px;
   background-color: #56B9FF;
   width: 47px;
   position: absolute;
   top: 50%;
   right: -47px;
   z-index: 5;
 }
 .curriculum .fila .item .conectori .circuloi{
   display: block;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: #56B9FF;
   float: right;
   position: relative;
   bottom: 4px;
 }
 .curriculum .fila .item .conectord{
   height: 2px;
   background-color: #56B9FF;
   width: 47px;
   position: absolute;
   top: 50%;
   left: -47px;
   z-index: 5;
 }
 .curriculum .fila .item .conectord .circulod{
   display: block;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: #56B9FF;
   float: left;
   position: relative;
   bottom: 4px;
 }

 /*SECCION PORTAFOLIO*/
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio h3{
    font-size: 28px;
    font-family: 'Righteous';
    text-align: center;
    padding: 16px 0;
}
hr {
  height: 1px;
  width: 50%;
  background-color: white;
  border: none;
  margin: 0 auto;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(86, 185, 255, 1), rgba(86, 185, 255, 1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/*SECCION CURSOS*/
.cursos{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.cursos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.cursos h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.cursos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cursos .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.cursos .galeria .proyecto img{
    width: 100%;
    display: block;
}
.cursos .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(86, 185, 255, 1), rgba(86, 185, 255, 1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.cursos .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.cursos .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.cursos .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/*SECCION CONTACTO*/
.contacto{
  background-image: url(img/banner-bg2.png);
  background-color: #1e2326;
  color: #fff;
  padding: 50px 0;
}
.contacto .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.contacto h2{
  font-size: 49px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}
.contacto h3{
  font-size: 18px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}
.contacto .fila{
  display: flex;
}
.contacto .col{
  width: 50%;
  padding: 10px;
  position: relative;
}
.contacto .col input, .contacto .col textarea{
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #252A2E;
  color: #fff;
  font-size: 18px;
}
.contacto .col img{
  width: 100%;
}
.contacto .col .info{
  position: absolute;
  top: 40%;
  background-color: #252A2E;
  padding: 50px;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacto .col .info ul{
  list-style: none;
}
.contacto .col .info ul li{
  margin-bottom: 20px;
}
.contacto .col .info ul li i{
  color: #56B9FF;
  display: inline-block;
  margin-right: 20px; 
}
footer{
  background-color: #252A2E;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
footer .redes{
  margin-bottom: 20px;
}
footer .redes a{
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: .3s;
}
footer .arriba{
  display: block;
  width: 50px;
  height: 50px;
  background-color: #56B9FF;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}

/*SECCION RESPONSIVE*/


@media screen and (max-width:980px) {
  nav{
    display: none;
  }
  .nav-responsive{
    display: block;
  }
  nav.responsive{
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #252A2E;
    width: 180px;
  }
  nav.responsive ul{
    display: block !important;
  }
  nav.responsive ul li{
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
}
@media screen and (max-width:700px) {
  .sobremi .fila{
    display: block;
  }
  .sobremi .fila .col{
    width: fit-content;
  }
  .skills .fila{
    display: block;
  }
  .skills .fila .col{
    width: 100%;
  }
  .skills .fila .col .barra-skill{
    width: 100%;
  }

  .curriculum .fila{
    display: block;
  }
  .curriculum .fila .col{
    width: 90%;
  }
  .curriculum .fila .derecha{
    margin-left: 20px;
  }
  .portfolio .galeria{
    display: block;
    width: 100%;
  }
  .portfolio .galeria .proyecto{
    max-width: 100%;
  }
  .portfolio .galeria .proyecto img{
    width: 100%;
  }
  .contacto .fila{
    display: block;
  }
  .contacto .fila .col{
    width: 100%;
  }

}

 .skills .contenido-seccion .fila .col .skill .contenedor-interes{
    display: flex;
    flex-wrap: wrap;
  }
  .skills .contenido-seccion .fila .col .skill .contenedor-interes .intereses{
    width: 35px;
    height: 35px;
    background-color: #1e2326;
    border-radius: 10px;
    margin: 0 35px 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .skills .contenido-seccion .fila .col .skill .contenedor-interes .intereses:hover{
    background-color: #56B9FF;
  }
  .skill .contenido-seccion .fila .col .skill .contenedor-interes .intereses i{
    font-size: 30px;
    margin-bottom: 10px;
  }

  